node-fake-emitter.json
[
   {
      "id":"8fe8bdaa.4da8a",
      "type":"tab",
      "label":"Capture"
   },
   {
      "id":"f6595a35.c356a8",
      "type":"inject",
      "z":"8fe8bdaa.4da8a",
      "name":"",
      "topic":"",
      "payload":"293",
      "payloadType":"num",
      "repeat":"10",
      "crontab":"",
      "once":false,
      "x":73.00000762939453,
      "y":116.00000286102295,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"5b995e60.c03b38",
      "type":"inject",
      "z":"8fe8bdaa.4da8a",
      "name":"",
      "topic":"",
      "payload":"312",
      "payloadType":"num",
      "repeat":"10",
      "crontab":"",
      "once":false,
      "x":109,
      "y":182,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"915d1986.d493b8",
      "type":"inject",
      "z":"8fe8bdaa.4da8a",
      "name":"",
      "topic":"",
      "payload":"243",
      "payloadType":"num",
      "repeat":"10",
      "crontab":"",
      "once":false,
      "x":112,
      "y":38,
      "wires":[
         [
            "67bfceab.164cc8"
         ]
      ]
   },
   {
      "id":"67bfceab.164cc8",
      "type":"mqtt out",
      "z":"8fe8bdaa.4da8a",
      "name":"",
      "topic":"sensor/mails",
      "qos":"",
      "retain":"",
      "broker":"32ed3ba5.1f0214",
      "x":369,
      "y":107,
      "wires":[

      ]
   },
   {
      "id":"32ed3ba5.1f0214",
      "type":"mqtt-broker",
      "z":"",
      "broker":"46.255.165.34",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "compatmode":true,
      "keepalive":"60",
      "cleansession":true,
      "willTopic":"",
      "willQos":"0",
      "willPayload":"",
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":""
   }
]
